<h4>DASHBOARD</h4>

<div class="row">
    <div class="col-md-3 ">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-group fa-4x text-white"></i>
                    </div>

                    <div class="col-md-8 mt-3 text-white text-center">
                       <h2>{{users}} </h2>
                        <h4>Users</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3 ">
        <div class="card bg-secondary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-file fa-4x text-white"></i>
                    </div>

                     <div class="col-md-8 mt-3 text-white text-center">
                       <h2>{{posts}} </h2>
                        <h4>Posts</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3 ">
        <div class="card bg-warning">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-link fa-4x text-white"></i>
                    </div>

                     <div class="col-md-8 mt-3 text-white text-center">
                       <h2>{{categories}} </h2>
                        <h4>Categories</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3 ">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-taxi fa-4x text-white"></i>
                    </div>

                     <div class="col-md-8 mt-3 text-white text-center">
                       <h2>{{comments}} </h2>
                        <h4>Bookings</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

 <section class="panel">
    <header class="panel-heading no-border">
    Diagramatic Represenation of Data
    </header>     
            <canvas id="myChart" ></canvas>                
</section>







<!-- External Script for Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> 
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Users", "Posts", "Comments", "Replies", "Categories"],
        datasets: [{
            label: 'Data From CMS',
            data: [ {{users}},  {{posts}},  {{comments}}, {{replies}}, {{categories}} ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>