<div class="container">
<div class="center-algin text-center justify-content-center m-5 mx-auto">
<div class="row">
    <div class="col-md-5">
        {{#if profile.file}}
            <img src="/uploads/{{profile.file}}" width="250" class="img-circle" alt="">
            {{else}}
            <img src="/uploads/default.png" alt="">
        {{/if}}

    </div>

    <div class="col-md-5 mt-2">
        <table class="table table-striped table-responsive">
            <tr>
                <th>Full Name</th>
                <td>{{profile.name}}</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>{{profile.email}}</td>
            </tr>


            <tr>
                <th>Phone</th>
                <td>{{profile.phone}}</td>
            </tr>


            <tr>
                <th>Role</th>
                <td>{{profile.role}}</td>
            </tr>

            <tr>
                <th>Status</th>
                <td>{{profile.status}}</td>
            </tr>

            <tr>
                <th>Edit Profile</th>
                <td> <a href="/admin/users/edit/{{profile.id}}" class="btn btn-success"><i class="fa fa-pencil"></i> Edit Profile</a></td>
            </tr>
        </table>
    </div>
</div>
</div>
   

</div>