<h3>Edit Post</h3>


<div class="card ">
    <div class="card-header">Edit a post by filling this form....</div>
      <div class="card-body">
            <form method="post" id="create-post" enctype="multipart/form-data" action="/admin/posts/{{post.id}}/update?_method=PUT">
            {{!-- action="/admin/posts/{{id}}/update?_method=PUT" --}}
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="title">Title</label>
                            <input name="title" value="{{post.title}}" class="form-control" id="title" required validate autofocus  type="text" aria-describedby="nameHelp" placeholder="Enter Post Title">
                        </div>
                        <div class="col-md-6">
                            <label for="sub">Sub-Title</label>
                            <input name="sub" value="{{post.sub}}" class="form-control" id="sub" required validate type="text" aria-describedby="nameHelp" placeholder="Enter Sub-Title">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="category">Category</label>
                                <select class="form-control" name="category" required validate  id="category">
                                    {{#select post.category}}
                                        {{#each categories}}
                                                <option value="{{id}}">{{title}}</option>
                                        {{/each}}
                                    {{/select}}
                                    
                                </select> 
                        </div>


                        <div class="col-md-6">
                           <label for="status">Status</label>
                            <select class="form-control" value="{{post.status}}" name="status" required validate  id="status">
                                {{#select post.status}} 
                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>
                                    <option value="Draft">Draft</option>
                                {{/select}}
                            </select> 
                        </div>
                    </div>
                </div>


            
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputLastName">Imagery</label>
                            <input accept="image/*"  name="file" class="form-control" id="inpFile"  type="file" aria-describedby="nameHelp" >
                        </div>

                        <div class="col-md-6">
                             <div class="image-preview pull-right" id="imagePreview">
                            <img width="100" class="img-circle img-thumbnail image-preview__image" src="/uploads/{{post.file}}" alt=""> 
                            <span class="image-preview__default-text"> </span>
                          </div>
                    </div>
                </div>

                
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="textarea">Content</label>
                            <textarea name="body" class="form-control" id="textarea" required validate cols="30" rows="10">{{post.body}}</textarea>
                        </div>
                    </div>                  
                </div>

                <div class="form-group">
                  <div class="col-md-6">
                            <label for="exampleInputLastName">Featuring image</label>
                            <input accept="image/*" name="multi_files" multiple class="form-control" id="inpFile"  type="file" aria-describedby="nameHelp" >

                            

                            {{#each post.multi_files}}
                                <img src="/uploads/{{this}}" width="70" alt="">
                            {{/each}}
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Submit Edit</button>
                </div>

            </form>
        </div>
    </div>
</div>



<!-- SCRIPTING FOR PREVIEWING IMAGE BEFORE UPLOADING USING PHP -->
<script>

    const inpFile = document.getElementById('inpFile');
    const previewContainer = document.getElementById('imagePreview');
    const previewImage = document.querySelector('.image-preview__image');
    const previewDefault = document.querySelector('.image-preview__default-text');

    inpFile.addEventListener('change',function(){
        const file = this.files[0];

        if(file){
            const reader = new FileReader();
            previewDefault.style.display = 'none';
            previewImage.style.display = 'block';

            reader.addEventListener('load',function(){
                previewImage.setAttribute('src',this.result);
                previewImage.style.width = '130px';
            });
            reader.readAsDataURL(file)
        }else{
            previewDefault.style.display = 'block';
            previewImage.style.display = 'none';
            previewImage.setAttribute('src',"");
        }
    })
</script>