 <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>


         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profile">
          <a class="nav-link" href="/admin/users/{{loggedUser.id}}/profile">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Profile</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#users" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-group"></i>
            <span class="nav-link-text">Users</span>
          </a>
          <ul class="sidenav-second-level collapse" id="users">
            <li>
              <a href="/admin/users">All Users</a>
            </li>

              <li>
              <a href="/admin/users/create">Create User</a>
            </li>

            <li>
              <a href="/admin/users/dummy">Dummy User</a>
            </li>
          </ul>
        </li>

         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Media">
          <a class="nav-link" href="/admin/media">
            <i class="fa fa-fw fa-photo"></i>
            <span class="nav-link-text">Media</span>
          </a>
        </li>

         

           
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Booking">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#booking" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-taxi"></i>
            <span class="nav-link-text">Booking</span>
          </a>
          <ul class="sidenav-second-level collapse" id="booking">
            <li>
              <a href="/admin/booking">All Booking</a>
            </li>


             <li>
              <a href="/admin/booking/cancelled">Cancelled Booking</a>
            </li>

              <li>
                <a href="/admin/booking/{{loggedUser.id}}/loggedUser">My Booking</a>
              </li>

              <li>
              <a href="/admin/booking/create">Create Booking</a>
            </li>


          </ul>
        </li>


     
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Posts">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#posts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Posts</span>
          </a>
          <ul class="sidenav-second-level collapse" id="posts">
            <li>
              <a href="/admin/posts">All Posts</a>
            </li>

            {{#if loggedUser}}
              <li>
                <a href="/admin/posts/myPost/{{loggedUser.id}}">My Posts</a>
              </li>
            {{/if}}

              <li>
              <a href="/admin/posts/create">Create Post</a>
            </li>

            <li>
              <a href="/admin/posts/dummy">Dummy Post</a>
            </li>
          </ul>
        </li>
     
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
          <a class="nav-link" href="/admin/categories">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Categories</span>
          </a>
        </li>


         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Testimony">
          <a class="nav-link" href="/admin/testimonies">
            <i class="fa fa-fw fa-address-book-o"></i>
            <span class="nav-link-text">Testimony</span>
          </a>
        </li>


        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Destinations">
          <a class="nav-link" href="/admin/destinations">
            <i class="fa fa-fw fa-map"></i>
            <span class="nav-link-text">Destinations</span>
          </a>
        </li>

         

         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Contact">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#contact" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-address-book"></i>
            <span class="nav-link-text">Contact</span>
          </a>
          <ul class="sidenav-second-level collapse" id="contact">
            <li>
              <a href="/admin/contact">All Contact</a>
            </li>

            {{#if loggedUser}}
              <li>
                <a href="/admin/contact/loggedUser/{{loggedUser.id}}">My Contact</a>
              </li>
            {{/if}}

              <li>
              <a href="/admin/contact/create">Create Contact</a>
            </li>

            <li>
              <a href="/admin/contact/dummy">Dummy Contact</a>
            </li>
          </ul>
        </li>
     
    

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="User">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#user" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">{{#if loggedUser}} {{loggedUser.fullname}} {{/if}}</span>
          </a>
          <ul class="sidenav-second-level collapse" id="user">
            <li>
              <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>

              <li>
              <a href="/"><i class="fa fa-fw fa-link"></i>Home Website</a>
            </li>

          </ul>
        </li>


      </ul>