<h3>Users</h3>

{{#if success_msg}}
<div class="alert alert-success">{{ success_msg }}</div>
{{/if}}

<div class="card ">
    <div class="card-header">
          <i class="fa fa-table"></i> All Users
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    {{!-- <th>Id</th> --}}
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Imagery</th>
                    <th>Date</th>
                    <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>
                    {{#each users}}
                    <tr>
                    {{!-- <td>{{id}}</td> --}}
                    <td>{{fullname}}</td>
                    <td>{{email}}</td>
                    <td>{{role}}</td>
                    <td>{{status}}</td>
                    <td>
                        {{#if file}}<img src="/uploads/{{file}}" width="100" alt="">
                        {{else}} <img src="/uploads/default.png" width="100" alt="">{{/if}} 
                    </td>
                    <td>{{generate_date date 'MMM-Do-Y'}} </td>
                    <td><a class="btn btn-success" href="/admin/users/{{id}}/edit">Edit</a></td>
                    <td><a class="btn btn-danger" href="/admin/users/{{id}}/delete">Delete</a>
                    
                    {{!-- <form action="/admin/posts/{{id}}/delete?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form> --}}  
                    {{!-- You can use the form for conventional delete request purposes or just use the link which initiates a get request --}}
                    </td>

                    
                    </tr>

                    {{/each}}
               </tbody>
            </table> 
        </div>
    </div>       
</div>

