<div class="col-lg-4 sidebar-widgets">
							<div class="widget-wrap">
								<div class="single-sidebar-widget search-widget">
									<form class="search-form" action="#">
			                            <input placeholder="Search Posts" name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'" >
			                            <button type="submit"><i class="fa fa-search"></i></button>
			                        </form>
								</div>
								<div class="single-sidebar-widget user-info-widget">
									<img width="100" class="rounded-circle" src="/uploads/tonio.jpg" alt="">
									<a href="https://atuoha.github.io"><h4>Atuoha Anthony</h4></a>
									<p>
										Developer | Writer 
									</p>
									<ul class="social-links">
										<li><a href="https://facebook.com/atutechscorp"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="https://github.com/atuoha"><i class="fa fa-github"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									</ul>
									<p>
										<quote>Am a developer by profession where I exert my whole being into thinking complexely to achieve a good functionality. And I write to step out of the cold walls of programming</quote>
									</p>
								</div>
								<div class="single-sidebar-widget popular-post-widget">
									<h4 class="popular-title">Popular Posts</h4>
									<div class="popular-post-list">
									{{#if sidebar_posts}}
										{{#each sidebar_posts}}
											<div class="single-post-list d-flex flex-row align-items-center">
												<div class="thumb">
													<img class="img-fluid" src="/uploads/{{file}}" alt="">
												</div>
												<div class="details">
													<a href="/single_blog/{{slug}}"><h6>{{title}}</h6></a>
													<p>{{generate_date date 'MMM-Do-Y'}}</p>
												</div>
											</div>
										{{/each}}
									{{else}}
									<div class="alert alert-success text-center">No Blog Posts to display</div>
									{{/if}}		
																									
									</div>
								</div>
								<div class="single-sidebar-widget ads-widget">
									<a href="#"><img class="img-fluid" src="img/blog/ads-banner.jpg" alt=""></a>
								</div>
								<div class="single-sidebar-widget post-category-widget">
									<h4 class="category-title">Post Catgories</h4>
									<ul class="cat-list">
									{{#if categories}}	
										{{#each categories}}
										<li>
											<a href="/category_blog/{{id}}" class="d-flex justify-content-between">
												<p>{{title}}</p>
											</a>
										</li>
										{{/each}}
									{{else}}
									<div class="alert alert-success text-center">No categories to display</div>
									{{/if}}			
																								
									</ul>
								</div>	
								<div class="single-sidebar-widget newsletter-widget">
									<h4 class="newsletter-title">Newsletter</h4>
									<p>
										Here, I focus on a range of items and features that we use in life without
										giving them a second thought.
									</p>
									<div class="form-group d-flex flex-row">
									   <div class="col-autos">
									      <div class="input-group">
									        <div class="input-group-prepend">
									          <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
											</div>
									        </div>
									        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" >
									      </div>
									    </div>
									    <a href="#" class="bbtns">Subcribe</a>
									</div>	
									<p class="text-bottom">
										You can unsubscribe at any time
									</p>								
								</div>
								<div class="single-sidebar-widget tag-cloud-widget">
									<h4 class="tagcloud-title">Tag Clouds</h4>
									<ul>
									{{#if blog_posts}}	
										{{#each blog_posts}}
											<li><a href="javascript:void(0)">{{sub}}</a></li>
										{{/each}}
									{{else}}
									<div class="alert alert-success text-center">No Tags to display</div>
									{{/if}}		
									</ul>
								</div>								
							</div>
						</div>