	<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								{{blog.title}}				
							</h1>	
							<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span><a href="/blogs">Blog </a> <span class="lnr lnr-arrow-right"></span> <a href="#blog"> {{blog.title}}</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->					  
			
			<!-- Start post-content Area -->
			<section class="post-content-area single-post-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 posts-list">
							<div class="single-post row">
								<div class="col-lg-12" id="blog">
									<div class="feature-img">
										<img class="img-fluid" src="/uploads/{{blog.file}}" alt="">
									</div>									
								</div>
								<div class="col-lg-3  col-md-3 meta-details">
									<ul class="tags">
										<li><a href="#">{{blog.sub}}</a></li>
									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="/author_blog/{{blog.user.id}}">{{blog.user.fullname}}</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">{{generate_date blog.date 'MMM-Do-Y'}}</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">1.2M Views</a> <span class="lnr lnr-eye"></span></p>
										 
										<ul class="social-links col-lg-12 col-md-12 col-6">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>																				
									</div>
								</div>
								<div class="col-lg-9 col-md-9">
									<a class="posts-title" href="#"><h3>{{blog.title}}</h3></a>
									<p class="excert">
										Pages of our thoughts are like charms in the eyes of those who dare only but to dream :)
									</p>
									<p>
										{{blog.body}}
									</p>
									
								</div>
								<div class="col-lg-12">
									<div class="quotes">
										We can last for more days without wines, water or food. It could be anything but not the peace that sets the mind into visualizing a happy home							
									</div>
									<div class="row mt-30 mb-30">
									{{#each multi_files}}	
										<div class="col-6">
											<img class="img-fluid" src="/uploads/{{this}}" alt="">
										</div>
									{{/each}}	
																			
									</div>
								</div>
							</div>
							
							<div class="comments-area">
								   {{!-- ADD DISQUS HERE  --}}
								   <div id="disqus_thread"></div>
								   <script id="dsq-count-scr" src="//nodetaxify.disqus.com/count.js" async></script>
									<script>
										(function() { // DON'T EDIT BELOW THIS LINE
										var d = document, s = d.createElement('script');
										s.src = 'https://nodetaxify.disqus.com/embed.js';
										s.setAttribute('data-timestamp', +new Date());
										(d.head || d.body).appendChild(s);
										})();
									</script>
							</div>
						
						</div>
						
							{{> home/blog_sidebar}}
					</div>
				</div>	
			</section>
			<!-- End post-content Area -->
			