<!-- Start latest-blog Area -->
			<section class="latest-blog-area section-gap">
				<div class="container">
					<div class="row section-title">
						<h1>Latest News from our Blog</h1>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>						
					<div class="row">
					{{#if home_blogs}}
						{{#each home_blogs}}	
						<div class="col-lg-6">
							<div class="single-latest-blog">
								<div class="thumb">
									<img class="img-fluid" src="/uploads/{{file}}" alt="">
								</div>
								<ul class="tags">
									<li><a href="/category_blog/{{category.id}}">{{category.title}}</a></li>
								</ul>
								<a  href="/single_blog/{{slug}}">
									<h4>{{title}}</h4>
								</a>
								<p>
									{{body}}
								</p>
								<p class="date">{{generate_date date 'MMM-Do-Y'}}</p>
							</div>
						</div>
						{{/each}}
					{{else}}
					<div class="alert alert-success text-center">No Blog Posts to display</div>
					{{/if}}							
					</div>
				</div>	
			</section>
			<!-- End latest-blog Area -->